html {
    scrollbar-color: #000000;
  }
body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    scrollbar-color: #af0000;
}
header {
    background: #101010;
    color: #fff;
    padding: 1px 0;
    text-align: center;
    position: relative;
    bottom: 140px;
}
.text{
    color: rgb(255, 255, 255);
    position: relative;
    right: 34%;
    bottom: -139px;
}
.glav{
    text-decoration: none;
    color: #fff;
    position: relative;
    bottom: -70px;
    right: 310px;
    font-size: 10px;
}
.glav-r{
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 12px;
    right: 700px;
    font-size: 10px;
}
.glav-t{
    text-decoration: none;
    color: #fff;
    position: relative;
    bottom: -30px;
    right: 200px;
    font-size: 10px;
}
.glav-e{
    text-decoration: none;
    color: #fff;
    position: relative;
    bottom: 10px;
    right: 80px;
    font-size: 10px;
}
.phtos-t{
    position: relative;
    bottom: 90px;
    right: -270px;
    animation-delay: 0.5s;
}
.text-e{
    color: #2f55d4;
    position: absolute;
    bottom: 430px;
    right: 636px;
    font-size: 45px;
    animation-delay: 1s;
}
.text-y{
    color: #ffffff;
    position: absolute;
    bottom: 370px;
    right: 671px;
    font-size: 40px;
}
.text-g{
    color: #fff;
    position: absolute;
    bottom: 434px;
    right: 470px;
    font-size: 40px;
}
.text-u{
    color: #a0a0a0;
    position: absolute;
    bottom: 321px;
    right: 340px;
}
.button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #2f55d4;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    transition: background-color 0.3s;
    position: absolute;
    right: 690px;
    bottom: 260px;
    box-shadow: 0px 0px 10px 3px #141f40;
}
.butt {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #2f55d4;
    color: white;
    padding: 11px 22px;
    border-radius: 10px;
    transition: background-color 0.3s;
    position: absolute;
    right: 365px;
    bottom: 18px;
    box-shadow: 0px 0px 10px 3px #141f40;
}
.butt:hover {
    background-color: #339;
}
.butt img {
    height: 20px; 
    margin-right: 10px; 
}
.butto{
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #2f55d4;
    color: white;
    border-radius: 10px;
    padding: 11px 20px;
    transition: background-color 0.3s;
    right: 230px;
    bottom: 18px;
    box-shadow: 0px 0px 10px 3px #141f40;
}
.butto:hover {
    background-color: #339;
}
.butto img {
    height: 20px; 
    margin-right: 10px; 
}

.button:hover {
    background-color: #339;
}

.button img {
    height: 20px; 
    margin-right: 10px; 
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 2s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}